.cabal-sandbox/
.cache/
.DS_Store
.ghc.environment.*
.hpc
.hsenv
.HTF/
.stack-work-profile/
.stack-work/
.vscode/
*.aux
*.cabal
*.chi
*.chs.h
*.dvi
*.dyn_hi
*.dyn_o
*.eventlog
*.fdb_latexmk
*.fls
*.hi
*.hie
*.hp
*.log
*.o
*.out
*.pdf
*.prof
*.synctex.gz
*.synctex(busy)
*.toc
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
debug/
dist
dist-*
dump/
premseldump/
haddocks/
stack.yaml.lock
*.svg
check/
